h1 {
    color: #ee7a0e
}
h1, h2 {
    font-family: "Helvetica";
    font-size: 12px;
}
p {
    font-family: "Helvetica";
    font-size: 10px;
}
.me-image {
    float: left;
    width: 125px;
    margin-right: 20px;
    margin-left: 20px;
    border: 7px solid #000000;
}